# Setting specific to ESP32-S2

#
# Serial flasher config
#
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="4MB"

#
# ESP System Settings
#
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_240=y
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ=240

CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG=y
CONFIG_ESP_CONSOLE_SECONDARY_NONE=y
CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG_ENABLED=y
CONFIG_ESP_CONSOLE_UART_NUM=-1
CONFIG_ESP_CONSOLE_ROM_SERIAL_PORT_NUM=4

#
# SPI RAM config
#
CONFIG_SPIRAM_MODE_QUAD=y
CONFIG_SPIRAM_TYPE_AUTO=y
CONFIG_SPIRAM_USE_MALLOC=y
CONFIG_SPIRAM_TRY_ALLOCATE_WIFI_LWIP=y

#
# RGB LED for EE 419
#
CONFIG_LED_RED_PIN=9
CONFIG_LED_GREEN_PIN=17
CONFIG_LED_BLUE_PIN=18

#
# SPI interface for EE 419
#
CONFIG_PN532_SPI_MISO=37
CONFIG_PN532_SPI_MOSI=35
CONFIG_PN532_SPI_SCK=36
CONFIG_PN532_SPI_CS=40
CONFIG_PN532_SPI_IRQ=41